.backward {
    --mdc-fab-container-color: var(--secondary-btn-color);
    border: 1px solid var(--outline-color) !important;
    // margin-right: 1em;
    color: var(--secondary-btn-text-color) !important;
    padding: 0rem 1.5rem;
    // line-height: 1.75rem;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 100px;
}

.next {
    color: var(--primary-btn-text-color) !important;
    padding: 0rem 1.5rem;
    // line-height: 1.75rem;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 100px;
}