<div class="root-container">
    <!-- <div class="row-container">
        <div class="title-container">
            Continue the journey...
        </div>
        <div class="sub-container">
            <div class="child-container">
                <div class="sub-title">
                    Pulvinar senectus nunc purus nibh leo proin. Eget pretium id eu leo felis donec est neque. Magna nunc gravida.
                </div>
                <div class="input-container">
                    <mat-form-field appearance="fill" class="fld">
                        <input
                          matInput
                          placeholder="Github account ID"
                          class="inp"
                        >
                        <mat-icon matSuffix class="my-icon">send</mat-icon>
                      </mat-form-field>
                </div>
            </div>
            <div class="child-container">
                <div class="sub-title">
                    Want to learn more? Enter your email address and we’ll send you the latest information about building agents.
                </div>
                <div class="input-container">
                    <mat-form-field appearance="fill" class="fld">
                        <input
                          matInput
                          placeholder="Email address"
                          class="inp"
                        >
                        <mat-icon matSuffix class="my-icon">send</mat-icon>
                      </mat-form-field>
                </div>
            </div>
        </div>
    </div> -->
    <div class="row-container">
        <div class="title-container">
            Check in!
        </div>
        <div class="sub-container">
            <div class="child-container">
                <p>
                    To delve deeper into the capabilities of AI orchestration frameworks, explore advanced model integration, and discover how to optimize your agent's performance, simply scan the QR code. This will provide access to comprehensive resources, tutorials, and community support, empowering you to unlock the full potential of your AI agent.
                </p>
                <p>
                    If you’re participating in the Next game, use this code:
                </p>
                <p class="code-container">
                    000-000-000
                </p>
            </div>
            <!-- <div class="child-container">
                <p>
                    To delve deeper into the capabilities of AI orchestration frameworks, explore advanced model integration, and discover how to optimize your agent's performance, simply scan the QR code. This will provide access to comprehensive resources, tutorials, and community support, empowering you to unlock the full potential of your AI agent.
                </p>
            </div> -->
            <div class="child-container">
                <img src="./../../../assets/images/sample-qr.png" />
            </div>
        </div>
    </div>
    <div class="row-container">
        <div class="sub-container">
            <div class="buttons-container">
                <div class="left-footer">
                    <div class="logo-container">
                        <div class="created-by">
                            Created by
                        </div>
                        <div class="google-cont">
                            <img class="g-vector" src="assets/images/google-white.svg">
                            Cloud Consulting
                        </div>
                    </div>
                </div>
                <!-- <button class="export-btn" mat-fab extended  (click)="export()"><mat-icon class="add">file_copy</mat-icon> Export</button> -->
                <button class="start-again-btn" mat-fab extended  (click)="startAgain()"><mat-icon class="add">settings_backup_restore</mat-icon> Start Again!</button>    
            </div>
        </div>
    </div>
</div>

