<div class="outer-container">
    <form [formGroup]="formGroup">
        <mat-stepper formArrayName="formArray" #stepper (selectedIndexChange)="onStepChange($event)">
            <ng-template matStepperIcon="edit" let-index="index">
                <span>{{ index + 1 }}</span>
            </ng-template>
            <ng-template matStepperIcon="done" let-index="index">
                <span>{{ index + 1 }}</span>
            </ng-template>
            <ng-template matStepperIcon="error" let-index="index">
                <span>{{ index + 1 }}</span>
            </ng-template>
            <ng-container *ngFor="let step of stepperConfig; let index = index">
                <mat-step [formGroupName]="index" [stepControl]="formGroup.get('formArray')?.get([index])!">
                    <ng-template matStepLabel>{{ step.stepHeading }}</ng-template>
                    <div class="heading">{{ step.heading }}</div>
                    <div *ngIf="step.contentType === 'form'" class="stepper-container">
                        <div  class="agent-container">
                            <ng-container *ngFor="let field of step.fields">
                                <mat-label class="label">{{ field.label }}</mat-label>
                                <mat-form-field appearance="outline" class="outline-border">
                                    <ng-container [ngSwitch]="field.type">
                                        <input *ngSwitchCase="'input'" matInput [placeholder]="field.placeholder!"
                                            [formControlName]="field.controlName" [required]="field.required!"
                                            class="input-text">
                                        <textarea *ngSwitchCase="'text'" matInput [placeholder]="field.placeholder!"
                                            [formControlName]="field.controlName" [required]="field.required!"
                                            class="input-text" rows="3"></textarea>    
                                        <!-- <mat-select *ngSwitchCase="'select'" [formControlName]="field.controlName">
                                            <mat-option *ngFor="let option of field.options" [value]="option.value">{{
                                                option.label }}</mat-option>
                                        </mat-select> -->
                                    </ng-container>
                                </mat-form-field>
                            </ng-container> 
                        </div>
                        <div *ngIf="step?.caption" class="option-response extra-margin">
                            <span class="subtitle">{{step.caption }}</span>
                        </div>
                    </div>
                    <div *ngIf="step.contentType === 'options'" class="stepper-container">
                        <div class="runtime-container">
                            <div class="option-selectors">
                                <div class="example-radio-group">
                                    <div *ngFor="let option of step.options" [ngClass]="{'selected': option.isSelected}"
                                        (click)="onRadioChange(step, option, index)" class="option-card" [class.disabled]="option.isDisabled === true" translate="no" >
                                        <span class="icon">
                                            <span class="material-symbols-outlined">{{ option.isSelected ?
                                                'check_circle' : 'radio_button_unchecked' }}</span>
                                        </span>
                                        <span class="text">{{ option.label }}</span>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="step.selectedOptionResponse" class="option-response">
                                <span *ngIf="step.subheading" class="subheading">{{ step.subheading }}</span>
                                <span class="subtitle">{{ step.selectedOptionResponse.subtitle }}</span>
                                <span *ngIf="step.contentType!=='options'" class="caption">{{
                                    step.selectedOptionResponse.caption }}</span>

                                <button class="view-code-button" *ngIf="step.contentType==='options' && step.selectedOptionResponse.caption.length !== 0" mat-button
                                    (click)="openViewCodeModal(step.selectedOptionResponse)"><span
                                        class="material-symbols-outlined">
                                        code
                                    </span><span>View code/diagram example</span></button>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="step.contentType === 'industry'" class="stepper-container">
                        <div class="runtime-container">
                            <div class="option-selectors">
                                <div class="example-radio-group">
                                    <div *ngFor="let option of step.options" [ngClass]="{'selected': option.isSelected}"
                                        (click)="onRadioChange(step, option, index)" class="option-card" [class.disabled]="option.isDisabled === true" translate="no" >
                                        <span class="icon">
                                            <span class="material-symbols-outlined">{{ option.isSelected ?
                                                'check_circle' : 'radio_button_unchecked' }}</span>
                                        </span>
                                        <span class="text">{{ option.label }}</span>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="step.selectedOptionResponse" class="option-response">
                                <span *ngIf="step.subheading" class="subheading">{{ step.subheading }}</span>
                                <span class="subtitle">{{ step.selectedOptionResponse.subtitle }}</span>

                                <span *ngIf="step?.selectedOptionResponse?.metadata?.usecase" class="usecase">{{ step.selectedOptionResponse.metadata.usecase }}</span>
                                <span *ngIf="step?.selectedOptionResponse?.metadata?.usecaseHeading" class="usecaseHeading">{{ step.selectedOptionResponse.metadata.usecaseHeading }}</span>
                                <span *ngIf="step?.selectedOptionResponse?.metadata?.usecaseSubheading" class="usecaseSubheading">{{ step.selectedOptionResponse.metadata.usecaseSubheading }}</span>
                                <span *ngIf="step?.selectedOptionResponse?.metadata?.tool" class="tool">{{ step.selectedOptionResponse.metadata.tool }}</span>
                                <span *ngIf="step?.selectedOptionResponse?.metadata?.toolHeading" class="toolHeading">{{ step.selectedOptionResponse.metadata.toolHeading }}</span>
                                <span *ngIf="step?.selectedOptionResponse?.metadata?.toolSubheading" class="toolSubheading">{{ step.selectedOptionResponse.metadata.toolSubheading }}</span>

                                <span *ngIf="step.contentType!=='industry'" class="caption">{{
                                    step.selectedOptionResponse.caption }}</span>

                                <button class="view-code-button" *ngIf="step.contentType==='industry' && step.selectedOptionResponse.caption.length !== 0" mat-button
                                    (click)="openViewCodeModal(step.selectedOptionResponse)"><span
                                        class="material-symbols-outlined">
                                        code
                                    </span><span>View code/diagram example</span></button>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="step.contentType === 'runtime'" class="stepper-container">
                        <div class="runtime-container">
                            <div class="option-selectors">
                                <div class="example-radio-group">
                                    <div *ngFor="let option of step.options" [ngClass]="{'selected': option.isSelected}"
                                        (click)="onRadioChange(step, option, index)" class="option-card" [class.disabled]="option.isDisabled === true" translate="no" >
                                        <span class="icon">
                                            <span class="material-symbols-outlined">{{ option.isSelected ?
                                                'check_circle' : 'radio_button_unchecked' }}</span>
                                        </span>
                                        <span class="text">{{ option.label }}</span>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="step.selectedOptionResponse" class="option-response">
                                <span *ngIf="step.subheading" class="subheading">{{ step.subheading }}</span>
                                <span class="subtitle">{{ step.selectedOptionResponse.subtitle }}</span>

                                <span *ngIf="step?.selectedOptionResponse?.metadata?.vertexAiHeading" class="optionsHeading">{{ step.selectedOptionResponse.metadata.vertexAiHeading }}</span>
                                <ul *ngIf="step?.selectedOptionResponse?.metadata?.vertexAiSubheading" class="optionsSubheading">
                                    <li *ngFor="let item of step?.selectedOptionResponse?.metadata?.vertexAiSubheading">
                                      {{ item }}
                                    </li>
                                </ul>
                                <span *ngIf="step?.selectedOptionResponse?.metadata?.cloudRunHeading" class="optionsHeading">{{ step.selectedOptionResponse.metadata.cloudRunHeading }}</span>
                                <ul *ngIf="step?.selectedOptionResponse?.metadata?.cloudRunSubheading" class="optionsSubheading">
                                    <li *ngFor="let item of step?.selectedOptionResponse?.metadata?.cloudRunSubheading">
                                      {{ item }}
                                    </li>
                                </ul>

                                <span *ngIf="step?.selectedOptionResponse?.metadata?.prosHeading" class="optionsHeading">{{ step.selectedOptionResponse.metadata.prosHeading }}<span class="prosconsSubheading">{{ step.selectedOptionResponse.metadata.prosSubheading }}</span></span>
                                <span *ngIf="step?.selectedOptionResponse?.metadata?.consHeading" class="optionsHeading">{{ step.selectedOptionResponse.metadata.consHeading }}<span class="prosconsSubheading">{{ step.selectedOptionResponse.metadata.consSubheading }}</span></span>

                                <span *ngIf="step.contentType!=='runtime'" class="caption">{{
                                    step.selectedOptionResponse.caption }}</span>

                                <button class="view-code-button" *ngIf="step.contentType==='runtime' && step.selectedOptionResponse.caption.length !== 0" mat-button
                                    (click)="openViewCodeModal(step.selectedOptionResponse)"><span
                                        class="material-symbols-outlined">
                                        code
                                    </span><span>View code/diagram example</span></button>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="step.contentType === 'framework'" class="stepper-container">
                        <div class="runtime-container">
                            <div class="option-selectors">
                                <div class="example-radio-group">
                                    <div *ngFor="let option of step.options" [ngClass]="{'selected': option.isSelected}"
                                        (click)="onRadioChange(step, option, index)" class="option-card" [class.disabled]="option.isDisabled === true" translate="no" >
                                        <span class="icon">
                                            <span class="material-symbols-outlined">{{ option.isSelected ?
                                                'check_circle' : 'radio_button_unchecked' }}</span>
                                        </span>
                                        <span class="text">{{ option.label }}</span>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="step.selectedOptionResponse" class="option-response">
                                <span *ngIf="step.subheading" class="subheading">{{ step.subheading }}</span>
                                <span class="subtitle">{{ step.selectedOptionResponse.subtitle }}</span>

                                <!-- <ul *ngIf="step?.selectedOptionResponse?.metadata?.langchainHeading" class="frameworkSubheading">
                                    <li *ngFor="let item of step?.selectedOptionResponse?.metadata?.langchainSubheading">
                                      {{ item }} <span *ngIf="step?.selectedOptionResponse?.metadata?.langchainHeading" class="optionsSubheading">{{ step.selectedOptionResponse.metadata?.langchainSubheading }}</span>
                                    </li>
                                </ul> -->

                                <span *ngIf="step?.selectedOptionResponse?.metadata?.langchainHeading" class="optionsHeading">{{ step.selectedOptionResponse.metadata.langchainHeading }}<span class="prosconsSubheading">{{ step.selectedOptionResponse.metadata.langchainSubheading }}</span></span>
                                <span *ngIf="step?.selectedOptionResponse?.metadata?.langgraphHeading" class="optionsHeading">{{ step.selectedOptionResponse.metadata.langgraphHeading }}<span class="prosconsSubheading">{{ step.selectedOptionResponse.metadata.langgraphSubheading }}</span></span>
                                <span *ngIf="step?.selectedOptionResponse?.metadata?.llamaindexHeading" class="optionsHeading">{{ step.selectedOptionResponse.metadata.llamaindexHeading }}<span class="prosconsSubheading">{{ step.selectedOptionResponse.metadata.llamaindexSubheading }}</span></span>
                                <span *ngIf="step?.selectedOptionResponse?.metadata?.vertexagentframeworkHeading" class="optionsHeading">{{ step.selectedOptionResponse.metadata.vertexagentframeworkHeading }}<span class="prosconsSubheading">{{ step.selectedOptionResponse.metadata.vertexagentframeworkSubheading }}</span></span>

                                <span *ngIf="step?.selectedOptionResponse?.metadata?.footer" class="optionsHeading">{{ step.selectedOptionResponse.metadata.footer }}</span>
                                <!-- <span *ngIf="step?.selectedOptionResponse?.metadata?.cloudRunHeading" class="optionsHeading">{{ step.selectedOptionResponse.metadata?.cloudRunHeading }}</span>
                                <ul *ngIf="step?.selectedOptionResponse?.metadata?.cloudRunSubheading" class="optionsSubheading">
                                    <li *ngFor="let item of step?.selectedOptionResponse?.metadata?.cloudRunSubheading">
                                      {{ item }}
                                    </li>
                                </ul> -->

                                <span *ngIf="step?.selectedOptionResponse?.metadata?.prosHeading" class="optionsHeading">{{ step.selectedOptionResponse.metadata.prosHeading }}<span class="prosconsSubheading">{{ step.selectedOptionResponse.metadata.prosSubheading }}</span></span>
                                <span *ngIf="step?.selectedOptionResponse?.metadata?.consHeading" class="optionsHeading">{{ step.selectedOptionResponse.metadata.consHeading }}<span class="prosconsSubheading">{{ step.selectedOptionResponse.metadata.consSubheading }}</span></span>

                                <span *ngIf="step.contentType!=='framework'" class="caption">{{
                                    step.selectedOptionResponse.caption }}</span>

                                <button class="view-code-button" *ngIf="step.contentType==='framework' && step.selectedOptionResponse.caption.length !== 0" mat-button
                                    (click)="openViewCodeModal(step.selectedOptionResponse)"><span
                                        class="material-symbols-outlined">
                                        code
                                    </span><span>View code/diagram example</span></button>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="step.contentType === 'model'" class="stepper-container">
                        <div class="runtime-container">
                            <div class="option-selectors">
                                <div class="example-radio-group">
                                    <div *ngFor="let option of step.options" [ngClass]="{'selected': option.isSelected}"
                                        (click)="onRadioChange(step, option, index)" class="option-card" [class.disabled]="option.isDisabled === true" translate="no" >
                                        <span class="icon">
                                            <span class="material-symbols-outlined">{{ option.isSelected ?
                                                'check_circle' : 'radio_button_unchecked' }}</span>
                                        </span>
                                        <span class="text">{{ option.label }}</span>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="step.selectedOptionResponse" class="option-response">
                                <span *ngIf="step.subheading" class="subheading">{{ step.subheading }}</span>
                                <span class="subtitle">{{ step.selectedOptionResponse.subtitle }}</span>

                                <!-- <span *ngIf="step?.selectedOptionResponse?.metadata?.vertexAiHeading" class="optionsHeading">{{ step.selectedOptionResponse.metadata?.vertexAiHeading }}</span>
                                <ul *ngIf="step?.selectedOptionResponse?.metadata?.vertexAiSubheading" class="optionsSubheading">
                                    <li *ngFor="let item of step?.selectedOptionResponse?.metadata?.vertexAiSubheading">
                                      {{ item }}
                                    </li>
                                </ul>
                                <span *ngIf="step?.selectedOptionResponse?.metadata?.cloudRunHeading" class="optionsHeading">{{ step.selectedOptionResponse.metadata?.cloudRunHeading }}</span>
                                <ul *ngIf="step?.selectedOptionResponse?.metadata?.cloudRunSubheading" class="optionsSubheading">
                                    <li *ngFor="let item of step?.selectedOptionResponse?.metadata?.cloudRunSubheading">
                                      {{ item }}
                                    </li>
                                </ul> -->

                                <span *ngIf="step?.selectedOptionResponse?.metadata?.prosHeading" class="optionsHeading">{{ step.selectedOptionResponse.metadata.prosHeading }}<span class="prosconsSubheading">{{ step.selectedOptionResponse.metadata.prosSubheading }}</span></span>
                                <span *ngIf="step?.selectedOptionResponse?.metadata?.consHeading" class="optionsHeading">{{ step.selectedOptionResponse.metadata.consHeading }}<span class="prosconsSubheading">{{ step.selectedOptionResponse.metadata.consSubheading }}</span></span>

                                <span *ngIf="step.contentType!=='model'" class="caption">{{
                                    step.selectedOptionResponse.caption }}</span>

                                <button class="view-code-button" *ngIf="step.contentType==='model' && step.selectedOptionResponse.caption.length !== 0" mat-button
                                    (click)="openViewCodeModal(step.selectedOptionResponse)"><span
                                        class="material-symbols-outlined">
                                        code
                                    </span><span>View code/diagram example</span></button>
                            </div>
                        </div>
                    </div>
                </mat-step>
            </ng-container>
        </mat-stepper>
        <div class="footer-container">
            <div class="button-container">
                <!-- <button class="contrast" mat-fab (click)="toggleTheme()">
                    <mat-icon>contrast</mat-icon>
                </button> -->
                <!-- <span class="border"></span> -->
                <button class="backward" mat-fab extended (click)="goToHome()">
                    <mat-icon>home</mat-icon>
                    Home
                </button>
                <mat-divider [vertical]="true"></mat-divider>
                <button class="help-button" mat-fab extended (click)="openHelpModal()">
                    <mat-icon>add_circle</mat-icon>
                    How it works
                </button>
                <mat-divider [vertical]="true"></mat-divider>
                <div class="logo-container">
                    <div class="created-by">
                        Created by
                    </div>
                    <div class="google-cont">
                        <img class="g-vector" src="assets/images/google-color.svg">
                        Cloud Consulting
                    </div>
                </div>
            </div>
            <div class="button-container">
                <button *ngIf="stepper.selectedIndex == 0" class="backward" mat-fab extended (click)="goToHome()">
                    <mat-icon>arrow_back</mat-icon>
                    Back
                </button>
                <button *ngIf="stepper.selectedIndex != 0" class="backward" mat-fab extended
                    (click)="stepper.previous()">
                    <mat-icon>arrow_back</mat-icon>
                    Back
                </button>
                <button *ngIf="stepper.selectedIndex < stepperConfig.length-1" mat-fab extended
                    (click)="stepper.next()" [disabled]="!isStepValid(stepper.selectedIndex)" [ngClass]="{'disabled-button': !isStepValid(stepper.selectedIndex), 'next': isStepValid(stepper.selectedIndex)}">
                    <mat-icon>arrow_forward</mat-icon>
                    Next
                </button>
                <button *ngIf="stepper.selectedIndex === stepperConfig.length-1" mat-fab extended
                    (click)="goToSpinnerComponent()" [disabled]="!isStepValid(stepper.selectedIndex)" [ngClass]="{'disabled-button': !isStepValid(stepper.selectedIndex), 'next': isStepValid(stepper.selectedIndex)}">
                    <mat-icon>arrow_forward</mat-icon>
                    Build
                </button>
            </div>
        </div>
    </form>
</div>

<ng-template #viewCode let-data>
    <div class="code-container">
        <div mat-dialog-actions>
            <button mat-dialog-close mat-icon-button>
                <mat-icon>close</mat-icon>
            </button>
        </div>
        <div>
            {{data.caption}}
        </div>
    </div>
</ng-template>