<div class="dialog-container">
    <div class="dialog-header-container">
        <h1 mat-dialog-title i18n>How it works</h1>
        <div mat-dialog-actions>
            <button mat-dialog-close mat-icon-button>
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>
    <div mat-dialog-content>
        <p>{{data.content}}</p>
        <br/>
        <div *ngIf="isImage(); else textContent">
          <img [src]="data.url" style="max-width: 100%; max-height: 100%;" />
        </div>
        <ng-template #textContent>
          <div>{{sanitizedContent}}</div>
        </ng-template>
      </div>
</div>