<div class="dialog-container">
  <div class="dialog-header-container">
      <h1 mat-dialog-title i18n>Code/Diagram</h1>
      <div mat-dialog-actions>
          <button mat-dialog-close mat-icon-button>
              <mat-icon>close</mat-icon>
          </button>
      </div>
  </div>
  <div mat-dialog-content class="code-dialog-content">
    <div *ngIf="isImage(); else textContent">
      <img [src]="data.content" style="max-width: 100%; max-height: 80vh;" />
    </div>
    <ng-template #textContent>
      <markdown>{{sanitizedContent}}</markdown>
    </ng-template>
  </div>
</div>